a:link {
      text-decoration:none;
}
.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav li {
  float: left;
  margin-right: 10px;
  padding: 5px 10px;
}

body {
  font-family:"Avenir Netxt",Arial,sans-serif;
  color: white;
  background-color: #E8DCCA;
  font-size: 35px;
}

  a:link{color:white;}
  a:visited{color:white;}
  a:hover{color:black;}
  a:active{color:white;}

.nav {
  background: #A4957D;
  height:60px;
  width:100%;
}
.header {
  color: #A4957D;
}

.text {
  font-size: 20px
}

.wp_b_box {
   padding: 10px;
   background: white;
   color: #A4957D;
   border: 2px solid #A4957D;
   border-radius: 5px;
   font-size: 16px;
   font-family:"Avenir Netxt",Arial,sans-serif;
}

.links{
  float: left;
  margin-right: 10px;
  display:block;
}

.flex-container{
  display:flex;
  flex-direction:column;
  justify-content: space-between;
  align-items: left;
}

.container{
  flex-wrap: nowrap;
  flex-direction: column;
}

.nav-bar nav {
  display: none;
}

button {
  background: none;
  border: 0;
  padding: 10px;
}

@media (max-width: 768px) {
  .nav-bar nav {
    display: block;
  }

  .nav-bar button {
    display: none;
  }
}

.nav-bar nav {
  display: none;
}

button {
  background: none;
  border: 0;
  padding: 10px;
}

@media (max-width: 768px) {
  .nav-bar nav {
    display: block;
  }

  .nav-bar button {
    display: none;
  }
}

#menu img {
  width: 32px;
}

#menu img:hover {
  cursor: pointer;
}

#close {
  display: none;
  padding: 5px;
}

/* mobile-active */

.nav-bar.mobile-active nav {
  position: sticky;
  top: 50px;
  height: 20%;
  width: 100%;
  background: #E8DCCA;
  padding: 0;
  display: block;
}

.nav-bar.mobile-active ul {
  padding-top: 0%;
}

.nav-bar.mobile-active li {
  display: block;
  padding: 20px;
  font-size: 1.5rem;
}

.mobile-active #close {
  display: block;
}

.mobile-active #hamburger {
  display: none;
}
