a:link {
      text-decoration:none;
}
.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav li {
  float: left;
  margin-right: 10px;
  padding: 5px 10px;
}

body {
  font-family:"Avenir Netxt",Arial,sans-serif;
  color: white;
  background-color: #E8DCCA;
  font-size: 30px;
}

  a:link{color:white;}
  a:visited{color:white;}
  a:hover{color:black;}
  a:active{color:white;}

.nav {
  background: #A4957D;
  height:60px;
  width:100%;
}
.header {
  color: #A4957D;
}

.text {
  font-size: 20px
}

.wp_b_box {
   padding: 10px;
   background: white;
   color: #A4957D;
   border: 2px solid #A4957D;
   border-radius: 5px;
   font-size: 16px;
   font-family:"Avenir Netxt",Arial,sans-serif;
}

.links{
  float: left;
  margin-right: 10px;
  display:block;
}

.flex-container{
  display:flex;
  flex-direction:column;
  justify-content: space-between;
  align-items: left;
}

.container{
  flex-wrap: nowrap;
  flex-direction: column;

}
@media (min-width:1024px){
  .container-container{
    display:flex;
    justify-content: space-between;
  }
}
@media (min-width:768px) and (max-width:1024px){
  body{
    font-size:35px;
    overflow:scroll;
    overflow-y:hidden;
  }
  h1{
    font-size:2rem:
  }
  .flex-container{
    display:flex;
    flex-direction:row;
  }
}

.content-container {
  max-width: 400px;
  margin: 0 auto;
}
img{
  width:35%;
  height:auto;
}
